.header {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10vh;
}

.homeLink {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 1vw;
    color: white;
}